@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-cp-dark-blue;
    @apply text-white;
  }
}

.btn {
  @apply tracking-wider;
}

.bg-gradient-radial {
  background: radial-gradient(
    600px circle at 0 0,
    rgba(29, 78, 216, 0.15),
    transparent 80%
  );
  @apply inset-0 fixed pointer-events-none lg:hidden;
}

.scrolling-marquee {
  animation: campoutscrollingmarquee 6s linear infinite;
  animation-duration: 20s;
}

@keyframes campoutscrollingmarquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
