@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-secondary;
    @apply text-white;
    --navbar-padding: 1rem 0;
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.btn {
  @apply tracking-wider;
}

.custom-shape-divider-bottom-1713854242 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1713854242 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 229px;
}

.custom-shape-divider-bottom-1713854242 .shape-fill {
  @apply fill-dark-secondary;
}

.steps .step-error + .step-error:before,
.steps .step-error:after {
  @apply text-white font-extrabold text-2xl;
}

.steps .step-error + .step-error:before {
  @apply bg-blue-light;
}

.steps .step-error:after {
  @apply bg-blue-light text-black;
}

.steps-vertical .step {
  grid-template-columns: 60px 1fr;
  gap: 2.4rem;
}

.steps .step:after {
  height: 3rem;
  width: 3rem;
}

.custom-shape-divider-top-1714370345 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1714370345 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 229px;
}

.custom-shape-divider-top-1714370345 .shape-fill {
  fill: #171a20;
}

@media screen and (max-width: 1439px) {
  .custom-shape-divider-bottom-1713854242 svg,
  .custom-shape-divider-top-1714370345 svg {
    height: 100px;
  }
}

@media screen and (max-width: 1023px) {
  @layer base {
    :root {
      --navbar-padding: 1rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .btn {
    @apply tracking-normal;
  }

  .steps-vertical .step {
    gap: 1.5rem;
  }
}
