@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-cp-dark-blue;
    @apply text-white;
  }
}

.btn {
  @apply tracking-wider;
}

.bg-gradient-radial {
  background: radial-gradient(
    600px circle at 0 0,
    rgba(29, 78, 216, 0.15),
    transparent 80%
  );
  @apply inset-0 fixed pointer-events-none lg:hidden;
}

.hero-area-six::after,
.hero-area-six::before {
  content: "";
  z-index: -1;
  width: 500px;
  height: 500px;
  opacity: 0.2;
  border-radius: 50%;
  -webkit-filter: blur(200px);
  filter: blur(200px);
  position: absolute;
  right: -250px;
  top: 200px;
  -webkit-animation: zoomInOut 5s infinite;
  animation: zoomInOut 5s infinite;
}

.hero-area-six::before {
  @apply bg-cp-red;
}

.hero-area-six::after {
  @apply bg-cp-blue-light;
}

.hero-area-six::before {
  left: -100px;
}

@-webkit-keyframes zoomInOut {
  0%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@keyframes zoomInOut {
  0%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media screen and (max-width: 1023px) {
  .hero-area-six::after,
  .hero-area-six::before {
    content: "";
    display: none;
  }
}
